body {
}
.button {    
    position: absolute;    
    margin-top:27px;
}
#label {
    color:#ff0000;
    margin-bottom:13px;

}
#Label1 {
    color:#00FF00;
    
    display:block;
}

#DropDownListPage2 {
margin-left:19px;
margin-right:19px;
}
.cell
{
text-align:left;
}

.righttextbox
{
float:right;

}


#test {
margin-top: 45px;
height:56px;    
    
}
#Label1result {
    margin-bottom: 13px;
}

#Button1 {
    margin-top: 15px;
}

